.wrapper
  = image_tag 'uppercase-grid.png', class: :grid

  .character.character--0
    .stroke.stroke--oval.stroke--oval--bottom

    .stroke.stroke--oval.stroke--oval--top
    .mask.character--0__mask-1

    .stroke.stroke--quadrant-half-border.stroke--quadrant-half-border--q1-right-bottom
    .stroke.stroke--quadrant-half-border.stroke--quadrant-half-border--q2-left-bottom
    .stroke.stroke--quadrant-half-border.stroke--quadrant-half-border--q3-left-top
    .stroke.stroke--quadrant-half-border.stroke--quadrant-half-border--q4-right-bottom
