.wrapper
  = image_tag 'uppercase-grid.png', class: :grid

  .character.character--1
    .stroke.stroke--vertical.stroke--vertical--middle
    .stroke.stroke--horizontal.stroke--horizontal--bottom

    .stroke.character--1__diagonal-stroke
