.wrapper
  = image_tag 'uppercase-grid.png', class: :grid

  .character.character--2
    .stroke.stroke--horizontal.stroke--horizontal--bottom
    .stroke.stroke--quadrant-border.stroke--quadrant-border--q3-left

    .stroke.stroke--oval.stroke--oval--top
    .mask.mask--oval.mask--oval--top

    .stroke.stroke--oval.stroke--oval--bottom
    .mask.mask--oval.mask--oval--bottom
