.wrapper
  = image_tag 'uppercase-grid.png', class: :grid

  .character.character--2
    .stroke.stroke--horizontal.stroke--horizontal--bottom
    .stroke.stroke--quadrant-half-border.stroke--quadrant-half-border--q3-left-bottom

    .stroke.stroke--oval.stroke--oval--top
    .mask.mask--oval.mask--oval--top

    .mask.character--2__top-mask

    .stroke.stroke--oval.stroke--oval--bottom
    .mask.mask--oval.mask--oval--bottom

    .stroke.character--2__cap.character--2__cap--top

    .mask.character--2__middle-mask
    .mask.character--2__bottom-mask
