.wrapper
  = image_tag 'uppercase-grid.png', class: :grid

  .character.character--3
    .stroke.stroke--oval.stroke--oval--top
    .mask.mask--oval.mask--oval--top

    .stroke.stroke--oval.stroke--oval--bottom
    .mask.mask--oval.mask--oval--bottom
  
    .mask.character--3__mask

    .stroke.character--3__cap.character--3__cap--top
    .stroke.character--3__cap.character--3__cap--bottom
