.wrapper
  = image_tag 'uppercase-grid.png', class: :grid

  .character.character--3
    .stroke.stroke--oval.stroke--oval--top
    .mask.mask--oval.mask--oval--top

    .stroke.stroke--oval.stroke--oval--bottom
    .mask.mask--oval.mask--oval--bottom
  