.wrapper
  = image_tag 'uppercase-grid.png', class: :grid

  .character.character--4
    .stroke.character--4__vertical
    .stroke.character--4__horizontal
    .stroke.character--4__diagonal

    .mask.mask--top-side
    .mask.mask--left-side

    .mask.character--4__horizontal-mask
    .mask.character--4__vertical-mask
    .mask.character--4__diagonal-mask
