.wrapper
  = image_tag 'uppercase-grid.png', class: :grid

  .character.character--5
    .stroke.stroke--quadrant-border.stroke--quadrant-border--q2-left
    .stroke.stroke--quadrant-border.stroke--quadrant-border--q2-bottom
    .stroke.stroke--horizontal.stroke--horizontal--top

    .stroke.stroke--oval.stroke--oval--bottom
    .mask.mask--oval.mask--oval--bottom
  