.wrapper
  = image_tag 'uppercase-grid.png', class: :grid

  .character.character--6

    .stroke.stroke--oval.stroke--oval--top.stroke--oval--top-border
    .mask.character--6__top-mask

    .stroke.stroke--oval.stroke--oval--top.stroke--oval--right-border
    .mask.character--6__right-mask

    .stroke.stroke--oval.stroke--oval--bottom
    .mask.character--6__bottom-mask

    .stroke.stroke--circle.stroke--circle--q2
    .stroke.stroke--circle.stroke--circle--q3

    .stroke.character--6__cap
