.wrapper
  = image_tag 'uppercase-grid.png', class: :grid

  .character.character--7
    .stroke.stroke--horizontal.stroke--horizontal--top
    
    .stroke.stroke--diagonal.stroke--diagonal--q1-to-bottom-left
    .character__bottom-diagonals
      .stroke.stroke--diagonal.character__bottom-diagonals__q3-to-bottom-left
