.wrapper
  = image_tag 'uppercase-grid.png', class: :grid

  .character.character--9

    .stroke.stroke--oval.stroke--oval--bottom
    .mask.mask--oval.mask--oval--bottom

    .mask.character--9__mask-1

    .stroke.stroke--oval.stroke--oval--top
    .mask.mask--oval.mask--oval--top

    .stroke.stroke--quadrant-half-border.stroke--quadrant-half-border--q1-right-bottom
    .stroke.stroke--quadrant-half-border.stroke--quadrant-half-border--q4-right-bottom
