.wrapper
  = image_tag 'uppercase-grid.png', class: :grid

  .character.character--a
    .stroke.stroke--a-horizontal

    .stroke.stroke--half-diagonal.stroke--half-diagonal--left-to-left
    .stroke.stroke--half-diagonal.stroke--half-diagonal--right-to-right

    .mask.mask--top-side
