.wrapper
  = image_tag 'uppercase-grid.png', class: :grid

  .character.character--a
    .stroke.stroke--a-horizontal
    .left.diagonal.stroke
    .right.diagonal.stroke

    .bottom.mask
    .left.mask