.wrapper
  = image_tag 'uppercase-grid.png', class: :grid

  .character.character--at-sign
    .stroke.stroke--circle
    .mask.character--at-sign__triangle-mask
    .mask.character--at-sign__normal-mask

    .stroke.character--at-sign__center-circle
    .stroke.character--at-sign__right-half-circle
