.wrapper
  = image_tag 'uppercase-grid.png', class: :grid

  .character.character--b
    .stroke.stroke--vertical.stroke--vertical--left
    .stroke.stroke--quadrant-border.stroke--quadrant-border--q2-top
    .stroke.stroke--quadrant-border.stroke--quadrant-border--q2-bottom
    .stroke.stroke--quadrant-border.stroke--quadrant-border--q3-bottom

    .stroke.stroke--oval.stroke--oval--top
    .mask.mask--oval.mask--oval--top

    .stroke.stroke--oval.stroke--oval--bottom
    .mask.mask--oval.mask--oval--bottom

    .mask.mask--quadrant.mask--quadrant--q2
    .mask.mask--quadrant.mask--quadrant--q3
