.wrapper
  = image_tag 'uppercase-grid.png', class: :grid

  .c.character
    .circle.character__stroke
    .circle.character__mask

    .top.horizontal.character__stroke
    .bottom.horizontal.character__stroke
    .right-half.character__mask
