.wrapper
  = image_tag 'uppercase-grid.png', class: :grid

  .c.character
    .stroke.stroke--circle.stroke--circle--q2
    .stroke.stroke--circle.stroke--circle--q3

    .top.horizontal.stroke
    .bottom.horizontal.stroke
    .right-half.mask
