.wrapper
  = image_tag 'uppercase-grid.png', class: :grid

  .c.character
    .character__stroke.character__stroke--circle
    .character__mask.character__mask--circle

    .top.horizontal.character__stroke
    .bottom.horizontal.character__stroke
    .right-half.character__mask
