.wrapper
  = image_tag 'uppercase-grid.png', class: :grid

  .c.character
    .stroke.stroke--circle.stroke--circle--q2
    .stroke.stroke--circle.stroke--circle--q3

    .stroke.stroke--quadrant-border.stroke--quadrant-border--q1-top
    .stroke.stroke--quadrant-border.stroke--quadrant-border--q4-bottom
