.wrapper
  = image_tag 'uppercase-grid.png', class: :grid

  .c.character
    .stroke.stroke--circle
    .character__mask.character__mask--circle

    .top.horizontal.stroke
    .bottom.horizontal.stroke
    .right-half.character__mask
