.wrapper
  = image_tag 'uppercase-grid.png', class: :grid

  .character.character--caret
    .stroke.stroke--diagonal.stroke--diagonal--q2-to-bottom-left
    .stroke.stroke--diagonal.stroke--diagonal--q1-to-bottom-right
