.wrapper
  = image_tag 'uppercase-grid.png', class: :grid

  .character.character--d
    .character__stroke.character__stroke--circle
    .character__mask.character__mask--circle

    .character__stroke.character__stroke--vertical.character__stroke--vertical--left
    .character__stroke.character__stroke--q2--top
    .character__stroke.character__stroke--q3--bottom
    .character__mask.character--d__left-half-mask
