.wrapper
  = image_tag 'uppercase-grid.png', class: :grid

  .character.character--d
    .stroke.stroke--circle.stroke--circle--q1
    .stroke.stroke--circle.stroke--circle--q4

    .stroke.stroke--vertical.stroke--vertical--left
    .stroke.stroke--quadrant-border.stroke--quadrant-border--q2-top
    .stroke.stroke--quadrant-border.stroke--quadrant-border--q3-bottom
