.wrapper
  = image_tag 'uppercase-grid.png', class: :grid

  .e.character
    .stroke.stroke--horizontal.stroke--horizontal--top
    .stroke.stroke--horizontal.stroke--horizontal--middle
    .stroke.stroke--horizontal.stroke--horizontal--bottom

    .stroke.stroke--vertical.stroke--vertical--left
