.wrapper
  = image_tag 'uppercase-grid.png', class: :grid

  .character.character--exclamation-mark

    .stroke.stroke--quadrant-border.stroke--quadrant-border--q1-left
    .stroke.stroke--quadrant-half-border.stroke--quadrant-half-border--q4-left-top

    .stroke.character--exclamation-mark__dot
