.wrapper
  = image_tag 'uppercase-grid.png', class: :grid

  .f.character
    .character__stroke.character__stroke--horizontal.character__stroke--horizontal--top
    .character__stroke.character__stroke--horizontal.character__stroke--horizontal--middle

    .character__stroke.character__stroke--vertical.character__stroke--horizontal--left
