.wrapper
  = image_tag 'uppercase-grid.png', class: :grid

  .f.character
    .stroke.stroke--horizontal.stroke--horizontal--top
    .stroke.stroke--horizontal.stroke--horizontal--middle

    .stroke.stroke--vertical.stroke--vertical--left
