.wrapper
  = image_tag 'uppercase-grid.png', class: :grid

  .character.character--g
    .stroke.stroke--circle
    .mask.mask--circle

    .stroke.stroke--quadrant-border.stroke--quadrant-border--q4-top
