.wrapper
  = image_tag 'uppercase-grid.png', class: :grid

  .character.character--g
    .stroke.stroke--circle

    .mask.g--character__mask.g--character__mask--left
    .mask.g--character__mask.g--character__mask--right

    .stroke.stroke--quadrant-border.stroke--quadrant-border--q4-top

    .stroke.character--g__cap.character--g__cap--top
    .stroke.character--g__cap.character--g__cap--bottom
    .stroke.character--g__cap.character--g__cap--right
