.wrapper
  = image_tag 'uppercase-grid.png', class: :grid

  .h.character
    .stroke.stroke--horizontal.stroke--horizontal--middle

    .stroke.stroke--vertical.stroke--vertical--left
    .stroke.stroke--vertical.stroke--vertical--right
