.wrapper
  = image_tag 'uppercase-grid.png', class: :grid

  .h.character
    .character__stroke.character__stroke--horizontal.character__stroke--horizontal--middle

    .character__stroke.character__stroke--vertical.character__stroke--vertical--left
    .character__stroke.character__stroke--vertical.character__stroke--vertical--right
