.wrapper
  = image_tag 'uppercase-grid.png', class: :grid

  .character.character--j
    .stroke.stroke--circle
    .character__mask.character__mask--circle

    .stroke.stroke--quadrant-border.stroke--quadrant-border--q1-right
    .character__mask.character--j__mask

