.wrapper
  = image_tag 'uppercase-grid.png', class: :grid

  .character.character--j
    .stroke.stroke--circle.stroke--circle--q3
    .stroke.stroke--circle.stroke--circle--q4

    .stroke.stroke--quadrant-border.stroke--quadrant-border--q1-right

    .stroke.character--j__cap
