.wrapper
  = image_tag 'uppercase-grid.png', class: :grid

  .character.character--k
    .stroke.stroke--vertical.stroke--vertical--left

    .stroke.stroke--half-diagonal.stroke--half-diagonal--top
    .stroke.stroke--half-diagonal.stroke--half-diagonal--bottom

    .mask.mask--left-side
  