.wrapper
  = image_tag 'uppercase-grid.png', class: :grid

  .character.character--k
    .stroke.stroke--vertical.stroke--vertical--left
    .stroke.stroke--diagonal.stroke--diagonal--top-half-to-bottom-left
