.wrapper
  = image_tag 'uppercase-grid.png', class: :grid

  .character.character--k
    .stroke.stroke--vertical.stroke--vertical--left

    .stroke.character--k__diagonal-stroke.character--k__diagonal-stroke--top
    .stroke.character--k__diagonal-stroke.character--k__diagonal-stroke--bottom

    .mask.character--k__left-mask
  