.wrapper
  = image_tag 'uppercase-grid.png', class: :grid

  .character.character--left-parenthesis
    .stroke.stroke--circle.stroke--circle--q2.character--left-parenthesis__curve
    .stroke.stroke--circle.stroke--circle--q3.character--left-parenthesis__curve
