.wrapper.wrapper--lowercase
  = image_tag 'lowercase-grid.png', class: ['grid', 'grid--lowercase']

  .character.character--lowercase.character--lowercase--e
    .stroke.stroke--circle.stroke--circle--lowercase-circle.stroke--circle--lowercase-circle--middle

    .mask.character--lowercase-e__mask-1
    .mask.character--lowercase-e__mask-2

    .stroke.stroke--lowercase-quadrant-border-middle-q1-bottom
    .stroke.stroke--lowercase-quadrant-border-middle-q2-bottom

    .stroke.character--lowercase-e__cap
