.wrapper.wrapper--lowercase
  = image_tag 'lowercase-grid.png', class: ['grid', 'grid--lowercase']

  .character.character--lowercase.character--lowercase--t
    .stroke.stroke--lowercase-vertical.stroke--lowercase-vertical--top-middle
    .stroke.stroke--lowercase-quadrant-border-middle-q1-left

    .stroke.stroke--lowercase-quadrant-border-middle-q1-top
    .stroke.stroke--lowercase-quadrant-border-middle-q2-top

    .stroke.stroke--circle.character--lowercase--t__curve
    .stroke.character--lowercase--t__bridge

    .stroke.character--lowercase--t__cap
