.wrapper.wrapper--lowercase
  = image_tag 'lowercase-grid.png', class: ['grid', 'grid--lowercase']

  .character.character--lowercase.character--lowercase--a
    .stroke.stroke--circle.stroke--circle--lowercase-circle.stroke--circle--lowercase-circle--middle
    .stroke.stroke--lowercase-vertical.stroke--lowercase-vertical--middle-right
