.wrapper.wrapper--lowercase
  = image_tag 'lowercase-grid.png', class: ['grid', 'grid--lowercase']

  .character.character--lowercase.character--lowercase--j
    .stroke.stroke--lowercase-vertical.stroke--lowercase-vertical--middle-right

    .stroke.stroke--circle.stroke--circle--lowercase-circle.stroke--circle--lowercase-circle--bottom.stroke--circle--lowercase-circle--bottom--q3-q4

    .stroke.stroke--lowercase-quadrant-border-bottom-q1-right

    .stroke.stroke--lowercase-dot.stroke--lowercase-dot--right

    .stroke.stroke--lowercase--j__cap
