.wrapper.wrapper--lowercase.wrapper--lowercase--m
  = image_tag 'lowercase-grid.png', class: ['grid', 'grid--lowercase']
  = image_tag 'lowercase-grid.png', class: ['grid', 'grid--lowercase', 'grid--lowercase--m2']

  .character.character--lowercase.character--lowercase--m
    .stroke.stroke--lowercase-vertical.stroke--lowercase-vertical--middle-left
  
    .stroke.stroke--circle.stroke--circle--lowercase-circle.stroke--circle--lowercase-circle--middle.stroke--circle--q1
    .stroke.stroke--circle.stroke--circle--lowercase-circle.stroke--circle--lowercase-circle--middle.stroke--circle--q2

    .stroke.stroke--lowercase-quadrant-border-middle-q4-right.character--lowercase--m__middle

    .stroke.stroke--circle.stroke--circle--lowercase-circle.stroke--circle--lowercase-circle--middle.stroke--circle--q1.character--lowercase--m__right
    .stroke.stroke--circle.stroke--circle--lowercase-circle.stroke--circle--lowercase-circle--middle.stroke--circle--q2.character--lowercase--m__right

    .stroke.stroke--lowercase-quadrant-border-middle-q4-right
