.wrapper.wrapper--lowercase.wrapper--lowercase--double
  = image_tag 'lowercase-grid.png', class: ['grid', 'grid--lowercase']
  = image_tag 'lowercase-grid.png', class: ['grid', 'grid--lowercase', 'grid--lowercase--double-second']

  .character.character--lowercase.character--lowercase--double
    .stroke.stroke--half-diagonal.stroke--half-diagonal--lowercase-left
    .stroke.stroke--half-diagonal.stroke--half-diagonal--lowercase-right

    .stroke.stroke--half-diagonal.stroke--half-diagonal--lowercase-left.character--lowercase--w__right
    .stroke.stroke--half-diagonal.stroke--half-diagonal--lowercase-right.character--lowercase--w__right
