.wrapper.wrapper--lowercase
  = image_tag 'lowercase-grid.png', class: ['grid', 'grid--lowercase']

  .character.character--lowercase.character--lowercase--f
    .stroke.stroke--lowercase-quadrant-border-middle-q1-top
    .stroke.stroke--lowercase-quadrant-border-middle-q2-top

    .stroke.stroke--lowercase-quadrant-border-top-q3-right
    .stroke.stroke--lowercase-quadrant-border-middle-q1-left
    .stroke.stroke--lowercase-quadrant-border-middle-q3-right

    .stroke.stroke--circle.character--lowercase--f__curve
    .stroke.character--lowercase--f__bridge

    .stroke.character--lowercase--f__cap
