.wrapper.wrapper--lowercase.wrapper--lowercase--double
  = image_tag 'lowercase-grid.png', class: ['grid', 'grid--lowercase']
  = image_tag 'lowercase-grid.png', class: ['grid', 'grid--lowercase', 'grid--lowercase--double-second']

  .character.character--lowercase.character--lowercase--double.character--lowercase--w
    .stroke.stroke--half-diagonal.stroke--half-diagonal--lowercase-left
    .mask.character--lowercase--w__diagonal-mask.character--lowercase--w__diagonal-mask--1
    .stroke.stroke--half-diagonal.stroke--half-diagonal--lowercase-right
    .mask.character--lowercase--w__diagonal-mask.character--lowercase--w__diagonal-mask--2

    .stroke.stroke--half-diagonal.stroke--half-diagonal--lowercase-right.character--lowercase--w__right
    .mask.character--lowercase--w__diagonal-mask.character--lowercase--w__diagonal-mask--3
    .stroke.stroke--half-diagonal.stroke--half-diagonal--lowercase-left.character--lowercase--w__right
    .mask.character--lowercase--w__diagonal-mask.character--lowercase--w__diagonal-mask--4
    .mask.character--lowercase--w__diagonal-mask.character--lowercase--w__diagonal-mask--5
    .mask.character--lowercase--w__diagonal-mask.character--lowercase--w__diagonal-mask--6

    .mask.character--lowercase--w__mask-bottom-side
    .mask.character--lowercase-w__top-center-cap
