.wrapper.wrapper--lowercase
  = image_tag 'lowercase-grid.png', class: ['grid', 'grid--lowercase']

  .character.character--lowercase.character--lowercase--r
    .stroke.stroke--oval.stroke--oval--lowercase
    .mask.character--lowercase--r__mask-1
    .mask.character--lowercase--r__mask-2

    .stroke.stroke--circle.stroke--circle--lowercase-circle.stroke--circle--lowercase-circle--middle.stroke--circle--q2

    .stroke.stroke--lowercase-vertical.stroke--lowercase-vertical--middle-left

