.wrapper.wrapper--lowercase
  = image_tag 'lowercase-grid.png', class: ['grid', 'grid--lowercase']

  .character.character--lowercase.character--lowercase--y
    .stroke.stroke--circle.stroke--circle--lowercase-circle.stroke--circle--lowercase-circle--middle.stroke--circle--q3
    .stroke.stroke--circle.stroke--circle--lowercase-circle.stroke--circle--lowercase-circle--middle.stroke--circle--q4

    .stroke.stroke--lowercase-quadrant-border-middle-q1-right
    .stroke.stroke--lowercase-quadrant-border-middle-q2-left

    .stroke.stroke--lowercase-vertical.stroke--lowercase-vertical--middle-right

    .stroke.stroke--circle.stroke--circle--lowercase-circle.stroke--circle--lowercase-circle--bottom.stroke--circle--lowercase-circle--bottom--q3-q4

    .stroke.stroke--lowercase-quadrant-border-bottom-q1-right
