.wrapper.wrapper--lowercase
  = image_tag 'lowercase-grid.png', class: ['grid', 'grid--lowercase']

  .character.character--lowercase.character--lowercase--i
    .stroke.stroke--lowercase-vertical.stroke--lowercase-vertical--middle-middle

    .stroke.stroke--lowercase-dot
