.wrapper.wrapper--lowercase
  = image_tag 'lowercase-grid.png', class: ['grid', 'grid--lowercase']

  .character.character--lowercase.character--lowercase--s
    .stroke.stroke--oval.stroke--oval--lowercase
    .mask.character--lowercase--s__mask.character--lowercase--s__mask--1

    .stroke.stroke--oval.stroke--oval--lowercase.stroke--oval--lowercase--bottom
    .mask.character--lowercase--s__mask.character--lowercase--s__mask--2

    .stroke.character--lowercase--s__cap.character--lowercase--s__cap--top
    .stroke.character--lowercase--s__cap.character--lowercase--s__cap--bottom

    .character--lowercase-s__oval-container
      .stroke.stroke--oval.stroke--oval--lowercase.character--lowercase-s__oval-container__oval
