.wrapper.wrapper--lowercase
  = image_tag 'lowercase-grid.png', class: ['grid', 'grid--lowercase']

  .character.character--lowercase.character--lowercase--k
    .stroke.stroke--lowercase-vertical.stroke--lowercase-vertical--middle-left
    .stroke.stroke--lowercase-vertical.stroke--lowercase-vertical--top-left

    .stroke.stroke--half-diagonal.stroke--half-diagonal--lowercase-top
    .stroke.stroke--half-diagonal.stroke--half-diagonal--lowercase-bottom

    .mask.character--lowercase--k__mask
