.wrapper.wrapper--lowercase
  = image_tag 'lowercase-grid.png', class: ['grid', 'grid--lowercase']

  .character.character--lowercase.character--lowercase--v
    .stroke.stroke--half-diagonal.stroke--half-diagonal--lowercase-left
    .stroke.stroke--half-diagonal.stroke--half-diagonal--lowercase-right
