.wrapper.wrapper--lowercase
  = image_tag 'lowercase-grid.png', class: ['grid', 'grid--lowercase']

  .character.character--lowercase.character--lowercase--u
    .stroke.stroke--circle.stroke--circle--lowercase-circle.stroke--circle--lowercase-circle--middle.stroke--circle--q3
    .stroke.stroke--circle.stroke--circle--lowercase-circle.stroke--circle--lowercase-circle--middle.stroke--circle--q4

    .stroke.stroke--lowercase-quadrant-border-middle-q1-right
    .stroke.stroke--lowercase-quadrant-border-middle-q2-left
