.wrapper.wrapper--lowercase
  = image_tag 'lowercase-grid.png', class: ['grid', 'grid--lowercase']

  .character.character--lowercase.character--lowercase--r
    .character--lowercase--r__oval-container
      .stroke.stroke--oval.stroke--oval--lowercase.character--lowercase--r__oval-container__oval

    .mask.character--lowercase--r__mask-1
    .mask.character--lowercase--r__mask-2

    .stroke.stroke--circle.stroke--circle--lowercase-circle.stroke--circle--lowercase-circle--middle.stroke--circle--q2

    .stroke.stroke--lowercase-vertical.stroke--lowercase-vertical--middle-left
    .stroke.character--lowercase--r__cap
