.wrapper
  = image_tag 'uppercase-grid.png', class: :grid

  .character.character--m
    .stroke.stroke--half-diagonal.stroke--half-diagonal--left

    .mask.mask--half-diagonal--right

    .stroke.stroke--vertical.stroke--vertical--left
    .mask.mask--half-diagonal--left.mask--half-diagonal--left--top

    .stroke.stroke--half-diagonal.stroke--half-diagonal--right.mask--half-diagonal--right--bottom
    .mask.mask--half-diagonal--left.mask--half-diagonal--left--bottom

    .stroke.stroke--quadrant-border.stroke--quadrant-border--q2-left.stroke--quadrant-border--q2-left--non-full
    .stroke.stroke--quadrant-border.stroke--quadrant-border--q3-left

    .stroke.stroke--quadrant-border.stroke--quadrant-border--q1-right
    .mask.mask--half-diagonal--right.mask--half-diagonal--right.mask--half-diagonal--right--top
    .stroke.stroke--quadrant-border.stroke--quadrant-border--q4-right

    .mask.mask--left-side
    .mask.mask--right-side
    .mask.mask--top-side
    .mask.mask--bottom-side
