.wrapper
  = image_tag 'uppercase-grid.png', class: :grid

  .character.character--m
    .stroke.stroke--half-diagonal.stroke--half-diagonal--left
    .stroke.stroke--half-diagonal.stroke--half-diagonal--right
    .stroke.character--m__cap

    .mask.mask--half-diagonal--left
    .mask.mask--half-diagonal--right

    .stroke.stroke--vertical.stroke--vertical--left
    .stroke.stroke--vertical.stroke--vertical--right

