.wrapper
  = image_tag 'uppercase-grid.png', class: :grid

  .n.character
    .character__stroke.character__stroke--vertical.character__stroke--vertical--left
    .character__stroke.character__stroke--vertical.character__stroke--vertical--right

    .character__stroke.character__stroke--diagonal.character__stroke--diagonal--q2-to-bottom-right
    .character__stroke.character__stroke--diagonal.character__stroke--diagonal--q2-to-bottom-right
    .character__bottom-diagonals
      .character__stroke.character__stroke--diagonal.character__bottom-diagonals__q4-to-bottom-right--non-full
