.wrapper
  = image_tag 'uppercase-grid.png', class: :grid

  .n.character
    .stroke.stroke--vertical.stroke--vertical--left
    .stroke.stroke--vertical.stroke--vertical--right

    .stroke.stroke--diagonal.stroke--diagonal--q2-to-bottom-right
    .stroke.stroke--diagonal.stroke--diagonal--q2-to-bottom-right
    .character__bottom-diagonals
      .stroke.stroke--diagonal.character__bottom-diagonals__q4-to-bottom-right--non-full
