.wrapper
  = image_tag 'uppercase-grid.png', class: :grid

  .character.character--number-sign
    .stroke.character--number-sign__vertical-1
    .stroke.character--number-sign__vertical-2

    .stroke.character--number-sign__horizontal-1
    .stroke.character--number-sign__horizontal-2
