.wrapper
  = image_tag 'uppercase-grid.png', class: :grid

  .character.character--p
    .character__stroke.character__stroke--vertical.character__stroke--vertical--left
    .character__stroke.character__stroke--quadrant-border.character__stroke--quadrant-border--q2-top
    .character__stroke.character__stroke--quadrant-border.character__stroke--quadrant-border--q2-bottom
