.wrapper
  = image_tag 'uppercase-grid.png', class: :grid

  .q.character
    .stroke.stroke--circle
    .mask.mask--circle
    .character__bottom-diagonals
      .stroke.stroke--diagonal.character__bottom-diagonals__q4-to-bottom-right
