.wrapper
  = image_tag 'uppercase-grid.png', class: :grid

  .q.character
    .character__stroke.character__stroke--circle
    .character__mask.character__mask--circle
    .character__bottom-diagonals
      .character__stroke.character__stroke--diagonal.character__bottom-diagonals__q4-to-bottom-right
