.wrapper
  = image_tag 'uppercase-grid.png', class: :grid

  .character.character--q
    .stroke.stroke--circle
    .character__bottom-diagonals
      .stroke.stroke--diagonal.character__bottom-diagonals__q4-to-bottom-right
