.wrapper
  = image_tag 'uppercase-grid.png', class: :grid

  .character.character--question-mark
    .stroke.stroke--oval.stroke--oval--top
    .stroke.stroke--quadrant-half-border.stroke--quadrant-half-border--q4-left-top
    .stroke.stroke--punctuation-dot

    .mask.character--question-mark__mask
    .stroke.character--question-mark__cap
    .stroke.character--question-mark__cap-2
