.wrapper
  = image_tag 'uppercase-grid.png', class: :grid

  .character.character--r
    .stroke.stroke--vertical.stroke--vertical--left
    .stroke.stroke--quadrant-border.stroke--quadrant-border--q2-top
    .stroke.stroke--quadrant-border.stroke--quadrant-border--q2-bottom

    .stroke.stroke--oval.stroke--oval--top
    .mask.mask--oval.mask--oval--top

    .mask.mask--quadrant.mask--quadrant--q2
