.wrapper
  = image_tag 'uppercase-grid.png', class: :grid

  .character.character--r
    .stroke.stroke--vertical.stroke--vertical--left
    .stroke.stroke--quadrant-border.stroke--quadrant-border--q2-top
    .stroke.stroke--quadrant-border.stroke--quadrant-border--q2-bottom

    .stroke.stroke--oval.stroke--oval--top

    .mask.mask--quadrant.mask--quadrant--q2

    .stroke.stroke--oval.stroke--oval--bottom
    .mask.mask--quadrant.mask--quadrant--q3

    .mask.character--r__mask.character--r__bottom-mask

    .stroke.stroke--quadrant-half-border.stroke--quadrant-half-border--q4-right-bottom

    .mask.mask--bottom-side
