.wrapper
  = image_tag 'uppercase-grid.png', class: :grid

  .character.character--right-parenthesis
    .stroke.stroke--circle.stroke--circle--q1.character--right-parenthesis__curve
    .stroke.stroke--circle.stroke--circle--q4.character--right-parenthesis__curve
