.wrapper
  = image_tag 'uppercase-grid.png', class: :grid

  .character.character--s
    .stroke.stroke--oval.stroke--oval--top
    .mask.character--s__mask.character--s__mask--1
    .stroke.stroke--oval.stroke--oval--bottom
    .mask.character--s__mask.character--s__mask--2

    .stroke.character--s__cap.character--s__cap--top
    .stroke.character--s__cap.character--s__cap--bottom
