.wrapper
  = image_tag 'uppercase-grid.png', class: :grid

  .character.character--u
    -# .stroke.stroke--circle

    .stroke.stroke--quadrant-border.stroke--quadrant-border--q1-right
    .stroke.stroke--quadrant-border.stroke--quadrant-border--q2-left
    .mask.character--u__top-half-mask

    .stroke.stroke--circle.stroke--circle--q3
    .stroke.stroke--circle.stroke--circle--q4
