.wrapper
  = image_tag 'uppercase-grid.png', class: :grid

  .character.character--u
    .stroke.stroke--circle
    .mask.mask--circle

    .stroke.stroke--quadrant-border.stroke--quadrant-border--q1-right
    .stroke.stroke--quadrant-border.stroke--quadrant-border--q2-left
    .mask.character--u__top-half-mask
