.wrapper
  = image_tag 'uppercase-grid.png', class: :grid

  .character.character--v
    .stroke.stroke--half-diagonal.stroke--half-diagonal--left
    .stroke.stroke--half-diagonal.stroke--half-diagonal--right
  
    .stroke.character--v__cap
  
    .mask.mask--half-diagonal--left
    .mask.mask--half-diagonal--right
