.wrapper
  = image_tag 'uppercase-grid.png', class: :grid

  .character.character--v
    .stroke.stroke--half-diagonal.stroke--half-diagonal--left-to-right
    .stroke.stroke--half-diagonal.stroke--half-diagonal--right-to-left
  
    .mask.mask--half-diagonal--left
    .mask.mask--half-diagonal--right
    .mask.mask--bottom-side
