.wrapper
  = image_tag 'uppercase-grid.png', class: :grid

  .character.character--w

    .stroke.stroke--quarter-diagonal.stroke--quarter-diagonal--1
    .mask.mask--quarter-diagonal.mask--quarter-diagonal--2
    .stroke.stroke--quarter-diagonal.stroke--quarter-diagonal--2
    .mask.mask--quarter-diagonal.mask--quarter-diagonal--1

    .stroke.stroke--quarter-diagonal.stroke--quarter-diagonal--3
    .mask.mask--quarter-diagonal.mask--quarter-diagonal--3
    .stroke.stroke--quarter-diagonal.stroke--quarter-diagonal--4
    .mask.mask--quarter-diagonal.mask--quarter-diagonal--4
    .mask.mask--quarter-diagonal.mask--quarter-diagonal--5
    .mask.mask--quarter-diagonal.mask--quarter-diagonal--6

    .mask.mask--bottom-side
    .mask.character--w__top-center-cap
