.wrapper
  = image_tag 'uppercase-grid.png', class: :grid

  .character.character--w
    .stroke.stroke--quarter-stroke.stroke--quarter-stroke--1
    .stroke.stroke--quarter-stroke.stroke--quarter-stroke--2
    .stroke.stroke--quarter-stroke.stroke--quarter-stroke--3
    .stroke.stroke--quarter-stroke.stroke--quarter-stroke--4
