.wrapper
  = image_tag 'uppercase-grid.png', class: :grid

  .character.character--w
    .stroke.stroke--quarter-diagonal.stroke--quarter-diagonal--1
    .stroke.stroke--quarter-diagonal.stroke--quarter-diagonal--2
    .stroke.stroke--quarter-diagonal.stroke--quarter-diagonal--3
    .stroke.stroke--quarter-diagonal.stroke--quarter-diagonal--4
