.wrapper
  = image_tag 'uppercase-grid.png', class: :grid

  .x.character
    .character__stroke.character__stroke--diagonal.character__stroke--diagonal--left-to-right
    .character__stroke.character__stroke--diagonal.character__stroke--diagonal--right-to-left
