.wrapper
  = image_tag 'uppercase-grid.png', class: :grid

  .y.character
    .stroke.stroke--diagonal.stroke--diagonal--q1-to-bottom-left
    .stroke.stroke--diagonal.stroke--diagonal--q2-to-bottom-right
    .stroke.stroke--vertical.stroke--vertical--bottom-middle
