.wrapper
  = image_tag 'uppercase-grid.png', class: :grid

  .y.character
    .character__stroke.character__stroke--diagonal.character__stroke--diagonal--q1-to-bottom-left
    .character__stroke.character__stroke--diagonal.character__stroke--diagonal--q2-to-bottom-right
    .character__stroke.character__stroke--vertical.character__stroke--vertical--bottom-middle
