.wrapper
  = image_tag 'uppercase-grid.png', class: :grid

  .character.character--z
    .stroke.stroke--horizontal.stroke--horizontal--top

    .stroke.stroke--diagonal.stroke--diagonal--q1-to-bottom-left
    .character__bottom-diagonals
      .stroke.stroke--diagonal.character__bottom-diagonals__q3-to-bottom-left

    .stroke.stroke--horizontal.stroke--horizontal--bottom

    .mask.mask--top-side
    .mask.mask--bottom-side
