.wrapper
  = image_tag 'uppercase-grid.png', class: :grid

  .character.character--z
    .stroke.stroke--diagonal.stroke--diagonal--q1-to-bottom-left
    .character__bottom-diagonals
      .stroke.stroke--diagonal.character__bottom-diagonals__q3-to-bottom-left

    .mask.mask--top-side
    .mask.mask--right-side
    .mask.mask--bottom-side
    .mask.mask--left-side

    .stroke.stroke--horizontal.stroke--horizontal--bottom
    .stroke.stroke--horizontal.stroke--horizontal--top
    .mask.mask--diagonal.mask--diagonal--right-to-left.mask--diagonal--right-to-left--top
    .mask.mask--diagonal.mask--diagonal--right-to-left.mask--diagonal--right-to-left--bottom
