$grid-width: 500px;
$lowercase-grid-to-grid-ratio: 0.5;
$lowercase-grid-width: $lowercase-grid-to-grid-ratio*$grid-width;
$stroke-width-ratio: 0.1;
$stroke-width: $grid-width*$stroke-width-ratio;
$stroke-color: #000;
$letter-opacity: 0.65;
$mask-opacity: 0.9;
$mask-color: white;
$grid-opacity: 1;

body {
  margin: 0;
}

a {
  text-decoration: none;
}

div, body {
  box-sizing: border-box;
}
