.character--2__top-mask {
  height: $grid-width/4;
  width: $grid-width/2 + $stroke-width/2;
  position: absolute;
  top: $grid-width/4;
  left: -$stroke-width/2;
}

.character--2__cap--top {
  width: $stroke-width;
  height: $stroke-width/2;
  position: absolute;
  left: -$stroke-width/2;
  top: $grid-width/4;
}

.character--2__middle-mask {
  width: $grid-width/2 + $stroke-width/2;
  height: $grid-width/4;
  position: absolute;
  bottom: $grid-width/4;
  left: $grid-width/2;
}

.character--2__bottom-mask {
  width: $grid-width;
  height: $grid-width/4 - $stroke-width/2;
  position: absolute;
  bottom: $stroke-width/2;
  left: $stroke-width/2;
}

.character--2__oval-container {
  overflow: hidden;
  position: absolute;
  height: $grid-width/2 + $stroke-width/2;
  width: $grid-width/2;
  left: $grid-width/2;
}

.character--2__oval-container__oval {
  top: -$grid-width/2 + $stroke-width*1.5;
  left: -$grid-width/2 - $stroke-width/2;
}

.character--2__q4-mask {
  width: $grid-width/2 + $stroke-width;
  height: $grid-width/2 - $stroke-width;
  top: $grid-width/2 + $stroke-width/2;
  left: $grid-width/2;
}