.character--9__mask {
  width: $grid-width + $stroke-width;
  height: $grid-width/4;
  position: absolute;
  top: $grid-width/2;
  left: -$stroke-width/2;
}

.character--9__cap {
  width: $stroke-width;
  height: $stroke-width/2;
  left: -$stroke-width/2;
  bottom: $grid-width/4;
}
