.g--character__mask {
  position: absolute;
}

.g--character__mask--left {
  background: 0;
  width: 0;
  height: 0;
  border-style: solid;
  $height: $grid-width/2;
  $width: $grid-width/2;
  border-width: 0 0 $height $width;
  border-color: transparent transparent $mask-color transparent;
  right: 0;
  bottom: $grid-width*0.5;
}

.g--character__mask--right {
  background: white;
  width: $stroke-width;
  height: $grid-width/2 - $stroke-width/2;
  top: 0;
  right: -$stroke-width;
}

.character--g__cap {
  height: $stroke-width;
  width: $stroke-width/2;
}

.character--g__cap--top {
  $y: $grid-width/2*sin(45deg);
  $x: $grid-width/2*cos(45deg);
  $y-edit: $stroke-width/4 * sin(45deg);
  $x-edit: $stroke-width/4 * cos(45deg);
  top: $grid-width/2 - $stroke-width/2 - $y + $y-edit;
  left: $grid-width/2 - $stroke-width/4 + $x + $x-edit;
  transform: rotate(-135deg);
}

.character--g__cap--bottom {
  top: 50%;
  margin-top: -$stroke-width/2;
  left: 50%;
  margin-left: -$stroke-width/2;
}

.character--g__cap--right {
  height: $stroke-width/2;
  top: 50%;
  margin-top: -$stroke-width/2;
  right: -$stroke-width/2;
  margin-left: -$stroke-width/2;
}