.index {
  padding: 1rem 1.8rem;

  & > a {
    display: inline-block;
    overflow: hidden;
  }

  .wrapper {
    display: inline-block;
    margin: -11.5rem;
    transform: scale(0.25);
  }

  .wrapper--lowercase {
    margin: -18.5rem -5.2rem;
  }

  .wrapper--lowercase--double {
    margin: -18.5rem -11.5rem;
  }
}
