.index {
  padding: 1rem 1.8rem;

  & > a {
    display: inline-block;
    overflow: hidden;
  }

  .wrapper {
    display: inline-block;
    margin: -0.38*$grid-width;
    transform: scale(0.15);
  }

  .wrapper--lowercase {
    margin: -0.59*$grid-width -0.18*$grid-width;
  }

  .wrapper--lowercase--double {
    margin-left: -0.39*$grid-width;
    margin-right: -0.39*$grid-width;
  }
}
