.index {
  padding: 1rem 1.8rem;

  & > a {
    display: inline-block;
    overflow: hidden;
  }

  .wrapper {
    display: inline-block;
    margin: -10rem;
    transform: scale(0.25);
  }

  .wrapper--lowercase {
    margin: -17rem -4rem;
  }

  .wrapper--lowercase--double {
    margin: -17rem -10rem;
  }
}
