.character--lowercase--s__mask {
  width: $lowercase-grid-width/2 + $stroke-width/2;
  height: $lowercase-grid-width/4;
}

.character--lowercase--s__mask--1 {
  top: $lowercase-grid-width*1.25;
  right: -$stroke-width/2;
}

.character--lowercase--s__mask--2 {
  top: $lowercase-grid-width*1.5;
  left: -$stroke-width/2;
}

.character--lowercase--s__cap {
  width: $stroke-width;
  height: $stroke-width/2;
}

.character--lowercase--s__cap--top {
  right: -$stroke-width/2;
  top: $lowercase-grid-width*1.25;
}

.character--lowercase--s__cap--bottom {
  left: -$stroke-width/2;
  bottom: $lowercase-grid-width*1.25;
}

.character--lowercase-s__oval-container {
  overflow: hidden;
  height: $lowercase-grid-width;
  width: $lowercase-grid-width/2;
  position: absolute;
  top: $lowercase-grid-width;
}

.character--lowercase-s__oval-container__oval {
  margin-top: -200%;
}
