.wrapper--lowercase--m {
  width: $lowercase-grid-width*2;
  position: relative;
}

.character--lowercase--m {
  width: $lowercase-grid-width*2;
}

.grid--lowercase--m2{
  right: 0;
}

.character--lowercase--m__right {
  margin-left: $lowercase-grid-width;
}

.character--lowercase--m__middle {
  margin-right: $lowercase-grid-width;
}
