.character--lowercase--r__mask-1 {
  width: $lowercase-grid-width + $stroke-width;
  height: $lowercase-grid-width/4 + $stroke-width/2;
  top: $lowercase-grid-width*1.25;
  left: -$stroke-width/2;
}

.character--lowercase--r__mask-2 {
  width: $lowercase-grid-width/2 + $stroke-width/2;
  height: $lowercase-grid-width/4 + $stroke-width/2;
  top: $lowercase-grid-width - $stroke-width/2;
  left: -$stroke-width/2;
}

.character--lowercase--r__cap {
  width: $stroke-width;
  height: $stroke-width/2;
  right: -$stroke-width/2;
  top: $lowercase-grid-width*1.25;
}

.character--lowercase--r__oval-container {
  position: absolute;
  height: $lowercase-grid-width/2;
  width: $lowercase-grid-width/2 + $stroke-width/2;
  top: $lowercase-grid-width - $stroke-width/2;
  left: $lowercase-grid-width/2;
  overflow: hidden;
}

.character--lowercase--r__oval-container__oval {
  top: -$lowercase-grid-width/4 - $stroke-width/2;
  left: -$lowercase-grid-width/2 - $stroke-width/2;
}
