.presentation {
  width: 900px;
  margin: 0 auto;
  padding: 1rem 0 4rem;
  text-align: center;

  .grid { opacity: 0; }
  .mask { opacity: 1; }
  .character { opacity: 1; }

  h1 {
    .wrapper {
      margin: -0.43*$grid-width -0.46*$grid-width;
      transform: scale(0.07);
    }
  }

  .presentation__paragraphs {
    padding-bottom: 1rem;
    text-align: left;
    font-family: "Avenir Next";
    text-indent: 1.5rem;

    p {
      padding-bottom: 1rem;
    }
  }

  .character-group {
    margin-bottom: 5rem;
  }

  a {
    display: inline-block;
    overflow: hidden;
  }

  .wrapper {
    display: inline-block;
    margin: -0.43*$grid-width;
    transform: scale(0.10);
  }

  .wrapper--lowercase {
    margin: -0.67*$grid-width -0.21*$grid-width;
  }

  .wrapper--lowercase--double {
    $side-margin: -0.436*$grid-width;
    margin-left: $side-margin;
    margin-right: $side-margin;
  }
}
