.character--question-mark__mask {
  height: $grid-width/2;
  width: $grid-width/2;
  top: $grid-width/4;
  left: -$stroke-width/2;
}

.character--question-mark__cap {
  width: $stroke-width;
  height: $stroke-width/2;
  left: -$stroke-width/2;
  top: $grid-width/4;
}

.character--question-mark__cap-2 {
  width: $stroke-width;
  height: $stroke-width/2;
  left: $grid-width/2 - $stroke-width/2;
  top: $grid-width*0.75;
}
