.character {
  width: $grid-width;
  height: $grid-width;
  position: relative;
  opacity: $letter-opacity;
  // Don't add a border to this, otherwise will mess up C and O.
}

.character--lowercase {
  width: $grid-width/2;
  height: $grid-width/2*3;
}

.character--lowercase--double {
  width: $lowercase-grid-width*2;
}
