$hypotenuse-ratio: 2.2360679775;
$half-diagonal-height: ($grid-width/2)*$hypotenuse-ratio + $stroke-width + 200;
$amount-to-center: -($half-diagonal-height - $grid-width)/2;

.mask {
  background: $mask-color;
  opacity: $mask-opacity;
  position: absolute;
}

.mask--quadrant {
  height: $grid-width/2 - $stroke-width;
  width: $grid-width/2 - $stroke-width/2;
  left: $stroke-width/2;
}

.mask--quadrant--q2 {
  top: $stroke-width/2;
}

.mask--quadrant--q3 {
  bottom: $stroke-width/2;
}

.mask--left-side {
  height: $grid-width;
  $width: $stroke-width;
  width: $width;
  left: -$width - $stroke-width/2;
}

.mask--half-diagonal--left {
  height: $half-diagonal-height;
  width: $stroke-width;
  $rotation-amount: -26.565051177078deg;
  transform: rotate($rotation-amount);
  top: $amount-to-center;
  $left-compensation: ($stroke-width/2)/sin($rotation-amount);
  left: $grid-width/4 + $left-compensation;
  margin-left: -$stroke-width/2;
}

.mask--half-diagonal--right {
  height: $half-diagonal-height;
  width: $stroke-width;
  $rotation-amount: 26.565051177078deg;
  transform: rotate($rotation-amount);
  top: $amount-to-center;
  $right-compensation: ($stroke-width/2)/sin($rotation-amount);
  right: $grid-width/4 - $right-compensation;
  margin-right: -$stroke-width/2;
}