$hypotenuse-ratio: 2.2360679775;
$height: ($grid-width/2)*$hypotenuse-ratio + $stroke-width;
$amount-to-center: -($height - $grid-width)/2;

.mask {
  background: $mask-color;
  opacity: $mask-opacity;
  position: absolute;
}

.mask--quadrant {
  height: $grid-width/2 - $stroke-width;
  width: $grid-width/2 - $stroke-width/2;
  left: $stroke-width/2;
}

.mask--quadrant--q2 {
  top: $stroke-width/2;
}

.mask--quadrant--q3 {
  bottom: $stroke-width/2;
}

.mask--left-side {
  height: $grid-width;
  $width: $stroke-width;
  width: $width;
  left: -$width - $stroke-width/2;
}

.mask--half-diagonal--left {
  background: blue;
  height: $height;
  width: $stroke-width;
  transform: rotate(-26.565051177078deg);
  top: $amount-to-center;
  left: $grid-width/4 - $stroke-width;
}
