$hypotenuse-ratio: 2.2360679775;
$half-diagonal-height: ($grid-width/2)*$hypotenuse-ratio + $stroke-width + 600; // last number is addition to height of half-diagonal strokes.
$amount-to-center: -($half-diagonal-height - $grid-width)/2;

.mask {
  background: $mask-color;
  opacity: $mask-opacity;
  position: absolute;
}

.mask--quadrant {
  height: $grid-width/2 - $stroke-width;
  width: $grid-width/2 - $stroke-width/2;
  left: $stroke-width/2;
}

.mask--quadrant--q2 {
  top: $stroke-width/2;
}

.mask--quadrant--q3 {
  bottom: $stroke-width/2;
}

.mask--top-side {
  $width: $grid-width*2;
  $height: $stroke-width;
  height: $height;
  width: $width;
  left: -($width - $grid-width)/2;
  top: -$height - $stroke-width/2;
}

.mask--right-side {
  $height: $grid-width*2;
  $width: $stroke-width;
  height: $height;
  width: $width;
  right: -$width - $stroke-width/2;
  top: -($height - $grid-width)/2;
}

.mask--bottom-side {
  $width: $grid-width*2;
  $height: $stroke-width;
  height: $height;
  width: $width;
  left: -($width - $grid-width)/2;
  bottom: -$height - $stroke-width/2;
}

.mask--left-side {
  $height: $grid-width*2;
  $width: $stroke-width;
  height: $height;
  width: $width;
  left: -$width - $stroke-width/2;
  top: -($height - $grid-width)/2;
}

.mask--half-diagonal--left {
  height: $half-diagonal-height;
  width: $stroke-width;
  $rotation-amount: -26.565051177078deg;
  transform: rotate($rotation-amount);
  top: $amount-to-center;
  $left-compensation: ($stroke-width/2)/sin($rotation-amount);
  left: $grid-width/4 + $left-compensation;
  margin-left: -$stroke-width/2;
}

.mask--half-diagonal--right {
  height: $half-diagonal-height;
  width: $stroke-width;
  $rotation-amount: 26.565051177078deg;
  transform: rotate($rotation-amount);
  top: $amount-to-center;
  $right-compensation: ($stroke-width/2)/sin($rotation-amount);
  right: $grid-width/4 - $right-compensation;
  margin-right: -$stroke-width/2;
}

.mask--diagonal-to-bottom-right {
  $height: $grid-width*3;
  width: $stroke-width;
  height: $height;
  $rotation-amount: -45deg;
  transform: rotate($rotation-amount);
  top: -($height - $grid-width)/2;
}

.mask--diagonal-to-bottom-right--top {
  $rotation-amount: -45deg;
  $left-center-amount: $grid-width/2 - $stroke-width/2;
  $left-compensation: ($stroke-width)/sin($rotation-amount);
  left: $left-center-amount - $left-compensation;
}

.mask--diagonal-to-bottom-right--bottom {
  $rotation-amount: -45deg;
  $left-center-amount: $grid-width/2 - $stroke-width/2;
  $left-compensation: ($stroke-width)/sin($rotation-amount);
  left: $left-center-amount + $left-compensation;
}



















