.mask--half-diagonal--left {
  $hypotenuse-ratio: 2.2360679775;
  $artificial-height-addition: $stroke-width*2;
  $half-diagonal-height: ($grid-width/2)*$hypotenuse-ratio + $stroke-width + $artificial-height-addition; // last number is addition to height of half-diagonal strokes.
  $amount-to-center: -($half-diagonal-height - $grid-width)/2;

  height: $half-diagonal-height;
  width: $stroke-width;
  $rotation-amount: -26.565051177078deg;
  transform: rotate($rotation-amount);
  top: $amount-to-center;
  $left-compensation: ($stroke-width/2)/sin($rotation-amount);
  left: $grid-width/4 + $left-compensation;
  margin-left: -$stroke-width/2;

  &.mask--half-diagonal--left--top {
    $left-compensation: ($stroke-width/2)/sin($rotation-amount);
    left: $grid-width/4 - $left-compensation;
  }

  &.mask--half-diagonal--left--bottom {
    $left-compensation: ($stroke-width/2)/sin($rotation-amount);
    left: $grid-width/4 + $left-compensation;
  }

  &.mask--half-diagonal--left--to-left-top {
    $rotation-amount: 26.565051177078deg;
    transform: rotate($rotation-amount);
  }
}

.mask--half-diagonal--right {
  $hypotenuse-ratio: 2.2360679775;
  $artificial-height-addition: $stroke-width*2;
  $half-diagonal-height: ($grid-width/2)*$hypotenuse-ratio + $stroke-width + $artificial-height-addition; // last number is addition to height of half-diagonal strokes.
  $amount-to-center: -($half-diagonal-height - $grid-width)/2;

  height: $half-diagonal-height;
  width: $stroke-width;
  $rotation-amount: 26.565051177078deg;
  transform: rotate($rotation-amount);
  top: $amount-to-center;
  $right-compensation: ($stroke-width/2)/sin($rotation-amount);
  right: $grid-width/4 - $right-compensation;
  margin-right: -$stroke-width/2;

  &.mask--half-diagonal--right--top {
    $right-compensation: ($stroke-width/2)/sin($rotation-amount);
    right: $grid-width/4 + $right-compensation;
    background: red;
  }

  &.mask--half-diagonal--right--bottom {
    $right-compensation: ($stroke-width/2)/sin($rotation-amount);
    right: $grid-width/4 + $right-compensation;
  }

  &.mask--half-diagonal--right--to-right-top {
    $rotation-amount: -26.565051177078deg;
    transform: rotate($rotation-amount);
  }
}
