.buttons {
  position: absolute;
  top: 0.5rem;
  margin: 0.5rem;

  .previous-button, .next-button {
    padding: 0.4rem;
    font-size: 1.1rem;
    font-family: "Avenir Next";
    background: #ddd;
    color: #333;
  }
}
