// Circle element
$stroke-width-ratio: $stroke-width/$grid-width;

.stroke--circle {
  width: $grid-width - $stroke-width;
  height: $grid-width - $stroke-width;
  position: absolute;
  background: none;
  border-radius: 50%;
  border: $stroke-width solid $stroke-color;
  box-sizing: content-box;
  top: -$stroke-width/2;
  left: -$stroke-width/2;
}

.stroke--circle--q1 {
  border-color: $stroke-color transparent transparent transparent;
  transform: rotate(45deg);
}

.stroke--circle--q2 {
  border-color: transparent transparent transparent $stroke-color;
  transform: rotate(45deg);
}

.stroke--circle--q3 {
  border-color: transparent transparent $stroke-color transparent;
  transform: rotate(45deg);
}

.stroke--circle--q4 {
  border-color: transparent $stroke-color transparent transparent;
  transform: rotate(45deg);
}

.stroke--circle--lowercase-circle {
  width: $lowercase-grid-width - $stroke-width;
  height: $lowercase-grid-width - $stroke-width;
}

.stroke--circle--lowercase-circle--middle {
  top: $lowercase-grid-width - $stroke-width/2;
}
