// Diagonal strokes that take an angle of half of the square.
$hypotenuse-ratio: 2.2360679775;
$height: ($grid-width/2)*$hypotenuse-ratio + $stroke-width;
$amount-to-center: -($height - $grid-width)/2;

.stroke--half-diagonal {
  width: $stroke-width;
  height: $height;
  position: absolute;
}

.stroke--half-diagonal--top {
  margin-left: -$stroke-width/2;
  left: 50%;
  top: $amount-to-center - $grid-width*0.25;
  transform: rotate(-116.565051177078deg);
}

.stroke--half-diagonal--bottom {
  margin-left: -$stroke-width/2;
  left: 50%;
  bottom: $amount-to-center - $grid-width*0.25;
  transform: rotate(116.565051177078deg);
}

.stroke--half-diagonal--left {
  margin-left: -$stroke-width/2;
  left: 50%;
  top: $amount-to-center;
  transform: rotate(-26.565051177078deg);
  left: $grid-width/4;
}

.stroke--half-diagonal--right {
  margin-right: -$stroke-width/2;
  top: $amount-to-center;
  transform: rotate(26.565051177078deg);
  right: $grid-width/4;
}

.stroke--half-diagonal--lowercase-top {
  $height: ($lowercase-grid-width/2)*$hypotenuse-ratio + $stroke-width;
  $amount-to-center: -($height - $lowercase-grid-width)/2;
  height: $height;
  left: $lowercase-grid-width/2 - $stroke-width/2;
  top: $amount-to-center + $lowercase-grid-width*0.75;
  transform: rotate(-116.565051177078deg);
}

.stroke--half-diagonal--lowercase-right {
  $height: ($lowercase-grid-width/2)*$hypotenuse-ratio + $stroke-width;
  $amount-to-center: -($height - $lowercase-grid-width)/2;
  height: $height;
  left: -$stroke-width/2 + $lowercase-grid-width/4;
  top: $amount-to-center + $lowercase-grid-width;
  transform: rotate(-26.565051177078deg);
}

.stroke--half-diagonal--lowercase-bottom {
  $height: ($lowercase-grid-width/2)*$hypotenuse-ratio + $stroke-width;
  $amount-to-center: -($height - $lowercase-grid-width)/2;
  height: $height;
  left: $lowercase-grid-width/2 - $stroke-width/2;
  top: $amount-to-center + $lowercase-grid-width*1.25;
  transform: rotate(116.565051177078deg);
}

.stroke--half-diagonal--lowercase-left {
  $height: ($lowercase-grid-width/2)*$hypotenuse-ratio + $stroke-width;
  $amount-to-center: -($height - $lowercase-grid-width)/2;
  height: $height;
  left: -$stroke-width/2 + $lowercase-grid-width*0.75;
  top: $amount-to-center + $lowercase-grid-width;
  transform: rotate(26.565051177078deg);
}
