.stroke--quadrant-half-border {
  position: absolute;
  width: $stroke-width;
}

.stroke--quadrant-half-border--q1-right-bottom {
  height: $grid-width/4 + $stroke-width/2;
  top: $grid-width/4;
  right: -$stroke-width/2;
}

.stroke--quadrant-half-border--q2-left-bottom {
  height: $grid-width/4;
  top: $grid-width/4;
  left: -$stroke-width/2;  
}

.stroke--quadrant-half-border--q3-left-top {
  height: $grid-width/4;
  top: $grid-width/2;
  left: -$stroke-width/2;  
}

.stroke--quadrant-half-border--q3-left-bottom {
  height: $grid-width/4;
  bottom: 0;
  left: -$stroke-width/2;  
}

.stroke--quadrant-half-border--q4-right-top {
  height: $grid-width/4 + $stroke-width/2;
  top: $grid-width/2 - $stroke-width/2;
  right: -$stroke-width/2;
}

.stroke--quadrant-half-border--q4-left-top {
  height: $grid-width/4;
  top: $grid-width/2;
  left: $grid-width/2 - $stroke-width/2;
}
