.stroke--lowercase-vertical {
  width: $stroke-width;
  height: $lowercase-grid-width + $stroke-width;
}

.stroke--lowercase-vertical--top-left {
  top: -$stroke-width/2;
  left: -$stroke-width/2;
}

.stroke--lowercase-vertical--top-middle {
  top: -$stroke-width/2;
  left: $lowercase-grid-width/2 - $stroke-width/2;
}

.stroke--lowercase-vertical--top-right {
  top: -$stroke-width/2;
  right: -$stroke-width/2;
}

.stroke--lowercase-vertical--middle-left {
  top: $lowercase-grid-width - $stroke-width/2;
  left: -$stroke-width/2;
}

.stroke--lowercase-vertical--middle-middle {
  top: $lowercase-grid-width - $stroke-width/2;
  left: $lowercase-grid-width/2 - $stroke-width/2;
}

.stroke--lowercase-vertical--middle-right {
  top: $lowercase-grid-width - $stroke-width/2;
  right: -$stroke-width/2;
}

.stroke--lowercase-vertical--bottom-left {
  bottom: -$stroke-width/2;
  left: -$stroke-width/2;
}

.stroke--lowercase-vertical--bottom-right {
  bottom: 0;
  right: -$stroke-width/2;
}
