.character--3__mask {
  width: $grid-width/2;
  height: $grid-width/2;
  position: absolute;
  top: $grid-width/4;
  left: -$stroke-width/2;
}

.character--3__cap {
  width: $stroke-width;
  height: $stroke-width/2;
  position: absolute;
  left: -$stroke-width/2;
}

.character--3__cap--top {
  top: $grid-width/4;
}

.character--3__cap--bottom {
  bottom: $grid-width/4;
}