.character--6__stroke {
  width: $grid-width - $stroke-width;
  height: $grid-width - $stroke-width;
  position: absolute;
  background: none;
  border-radius: 50%;
  border: $stroke-width solid $stroke-color;
  box-sizing: content-box;
  top: -$stroke-width/2;
  left: -$stroke-width/2;
  border-color: transparent $stroke-color $stroke-color transparent;
  transform: rotate(135deg);
}
