// Horizontal strokes
.character__stroke--horizontal {
  height: $stroke-width;
  width: $grid-width + $stroke-width;
  position: absolute;
  left: -$stroke-width/2;
}

.character__stroke--horizontal--top {
  top: -$stroke-width/2;
}

.character__stroke--horizontal--middle {
  top: 50%;
  margin-top: -$stroke-width/2;
}

.character__stroke--horizontal--bottom {
  bottom: 0;
  margin-bottom: -$stroke-width/2;
}

// Vertical strokes
.character__stroke--vertical {
  height: $grid-width + $stroke-width;
  width: $stroke-width;
  position: absolute;
  top: -$stroke-width/2;
}

.character__stroke--vertical--left {
  left: -$stroke-width/2;
}

.character__stroke--vertical--middle {
  left: 50%;
  margin-left: -$stroke-width/2;
}

.character__stroke--vertical--right {
  right: 0;
  margin-right: -$stroke-width/2;
}

.character__stroke--diagonal {
  $stroke-width: 50px;
  $pythagorean-ratio: 0.41;
  $height: ($grid-width)*(1+$pythagorean-ratio) + $stroke-width;
  height: $height;
  width: $stroke-width;
  position: absolute;
  right: -$stroke-width/2 + $grid-width/2;
  margin-top: -($stroke-width + ($grid-width)*($pythagorean-ratio))/2;
}

.character__stroke--diagonal--left-to-right {
  transform: rotate(-45deg);
}

.character__stroke--diagonal--right-to-left {
  transform: rotate(45deg);
}












