.character__mask.character--d__left-half-mask {
  width: $grid-width/2 - $stroke-width/2;
  height: $grid-width - $stroke-width;
  position: absolute;
  top: $stroke-width/2;
  left: $stroke-width/2;
}
