.character--exclamation-mark__dot {
  width: $stroke-width;
  height: $stroke-width;
  border-radius: 50%;
  position: absolute;
  bottom: -$stroke-width/2;
  left: $grid-width/2 - $stroke-width/2;
}
