// Circle element
$stroke-width-ratio: $stroke-width/$grid-width;

.stroke.stroke--circle {
  $width-ratio: 1 + $stroke-width-ratio;
  $width: $grid-width * $width-ratio;
  width: $width;
  height: $width;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -$width/2;
  margin-top: -$width/2;
}

.mask.mask--circle {
  $width-ratio: 1 - $stroke-width-ratio;
  $width: 100% * $width-ratio;
  width: $width;
  height: $grid-width * $width-ratio;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -$width/2;
  margin-top: -$width/2;
}

.stroke--oval {
  border-radius: 50%;
  $width-ratio: 1 + $stroke-width-ratio;
  $width: $grid-width * $width-ratio;
  width: $width;
  height: $grid-width/2 + $stroke-width;
  position: absolute;
  top: -$stroke-width/2;
  left: -$stroke-width/2;
}

.stroke--oval--top {
  top: -$stroke-width/2;
}

.stroke--oval--bottom {
  top: -$stroke-width/2 + $grid-width/2;
}

.mask--oval {
  position: absolute;
  border-radius: 50%;
  $width-ratio: 1 + $stroke-width-ratio;
  $width: $grid-width - $stroke-width;
  width: $width;
  height: $grid-width/2 - $stroke-width;
  left: $stroke-width/2;
}

.mask--oval--top {
  top: $stroke-width/2;
}

.mask--oval--bottom {
  bottom: $stroke-width/2;
}
