$grid-width: 500px;
$stroke-width: 50px;
$stroke-color: #000;
$letter-opacity: 0.65;

body {
  margin: 0;
}

div, body {
  box-sizing: border-box;
}

.wrapper {
  margin: 5rem auto;
  width: $grid-width;
}

.grid {
  position: absolute;
  width: $grid-width;
}

.character {
  width: $grid-width;
  height: $grid-width;
  border: 1px solid black;
  position: relative;
  opacity: $letter-opacity;
}
