$grid-width: 500px;
$stroke-width-ratio: 0.1;
$stroke-width: $grid-width*$stroke-width-ratio;
$stroke-color: #000;
$letter-opacity: 0.65;
$mask-opacity: 0.8;

body {
  margin: 0;
}

div, body {
  box-sizing: border-box;
}

.wrapper {
  margin: 5rem auto;
  width: $grid-width;
}

.grid {
  position: absolute;
  width: $grid-width;
  height: $grid-width;
}

.character {
  width: $grid-width;
  height: $grid-width;
  position: relative;
  opacity: $letter-opacity;
  // Don't add a border to this, otherwise will mess up C and O.
}

.stroke {
  background: $stroke-color;
}

.mask {
  background: white;
  opacity: $mask-opacity;
}
